/* .canvas-box{
    border-style: dotted;
    border-width: 2px;
    height: 300px;
}

.buffer-small{
    height: 100px
}

.properties-panel{
    width: 300px;
    border-style: solid;
    border-width: 2px;
}

#layers-list{
    cursor: pointer;
}

.spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
/* }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.button-selected{
    background-color: blueviolet;

}

.color-picker{
    padding: 10px;
    width: 200px;
    border-style: dotted;
    border-width: 2px;
}

.color-box{
    height: 50px;
    margin: 10px;
}

img {
    background-size: 20px 30px;
  } */ 

  #nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
  }

  /* #paintings-ul {
    background-color: blueviolet;
  } */
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 19px 18px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(17, 17, 17);
  }

  .active {
    background-color: blueviolet;
  }

  li h3 {
      color: rgb(0, 0, 0);
  }

  img {
    width: 100%;
    height: auto;
    
  }


  #canvas-box {
    border: solid
  }

  #paintings-ul {
    color: white
  }

  .grid-container {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto ;
    grid-template-rows: 70px 100px auto auto auto auto auto auto auto auto;

    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    background-color: rgb(0, 0, 0);
    /* padding: 10px; */
    height: 100vh;
    width: 100vw;

  }
  .grid-item {
    /* align-content: center; */

    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    /* font-size: 12px; */
    /* text-align: center;  */
  }

  #item1 {
    grid-row-start: 1;
    grid-row-end: 10;  
    max-height: calc(100vh - .5rem);
    overflow-y: auto;  
  }

  #item2 {
      grid-column-start: 2;
      grid-column-end: 12;

  }

  #item3 {
      grid-column-start: 2;
      grid-column-end: 10;
      float: right;
      color: white;
  }

  #item4 {
      grid-column-start: 2;
      grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 10;
    border: solid;
    overflow: scroll;

  }

  #item5 {
      grid-column-start: 10;
      grid-column-end: 10;
      grid-row-start: 3;
    grid-row-end: 4;
    color: white;
  }

  #item6 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 4;
  grid-row-end: 5;
  color: white;
}

#item7 {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 12;

}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#login{
  position: absolute;
  top: 50%;
  left: 15%;
  margin-top: -50px;
  margin-left: -50px;
  width: 1000px;
  height: 400px;
}​


/* Style the input fields */
#login-input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
#login-submit {
  padding: 10px 20px;
  background-color: rgb(72, 20, 243);
  border: 1px solid #ddd;
  color: white;
}

@font-face {
  font-family: Octobertwilight;
  src: url(Octobertwilight-lzwZ.otf);
}

#title12, #title13 {
  font-family: Octobertwilight;
}


#name-on-my-paintings {
  color: white;
}

/* .btn-info {
  border-radius: 8px;
  color: white;
  border: 2px solid  rgb(161, 75, 241)

} */

.btn-info {
  display: inline-block; 
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: solid;
  border-color: black;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.btn-info:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#select-btn {
  display: inline-block; 
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(2, 2, 2);
  background-color: #4CAF50;
  border: solid;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}
.svg-collection:hover {
  cursor: pointer;
  color: pink; 
}


#fountainTextG{
	margin:auto;
}

.fountainTextG{
 
  
	color:rgb(72, 20, 243);
  font-family: Octobertwilight;
	font-size:45px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
  margin: none;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:4.0s;
		-o-animation-duration:4.0s;
		-ms-animation-duration:4.0s;
		-webkit-animation-duration:4.0s;
		-moz-animation-duration:4.0s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}

#fountainTextG_8{
	animation-delay:1.80s;
		-o-animation-delay:1.80s;
		-ms-animation-delay:1.80s;
		-webkit-animation-delay:1.80s;
		-moz-animation-delay:1.80s;
}

#fountainTextG_9{
	animation-delay:1.94s;
		-o-animation-delay:1.94s;
		-ms-animation-delay:1.94s;
		-webkit-animation-delay:1.94s;
		-moz-animation-delay:1.94s;
}

#fountainTextG_10{
	animation-delay:2.10s;
		-o-animation-delay:2.10s;
		-ms-animation-delay:2.10s;
		-webkit-animation-delay:2.10s;
		-moz-animation-delay:2.10s;
}

#fountainTextG_11{
	animation-delay:2.24s;
		-o-animation-delay:2.24s;
		-ms-animation-delay:2.24s;
		-webkit-animation-delay:2.24s;
		-moz-animation-delay:2.24s;
}

#fountainTextG_12{
	animation-delay:2.40s;
		-o-animation-delay:2.40s;
		-ms-animation-delay:2.40s;
		-webkit-animation-delay:2.40s;
		-moz-animation-delay:2.40s;
}

#fountainTextG_13{
	animation-delay:2.54s;
		-o-animation-delay:2.54s;
		-ms-animation-delay:2.54s;
		-webkit-animation-delay:2.54s;
		-moz-animation-delay:2.54s;
}

#fountainTextG_14{
	animation-delay:2.70s;
		-o-animation-delay:2.70s;
		-ms-animation-delay:2.70s;
		-webkit-animation-delay:2.70s;
		-moz-animation-delay:2.70s;
}

#fountainTextG_15{
	animation-delay:2.84s;
		-o-animation-delay:2.84s;
		-ms-animation-delay:2.84s;
		-webkit-animation-delay:2.84s;
		-moz-animation-delay:2.84s;
}

#fountainTextG_16{
	animation-delay:3.00s;
		-o-animation-delay:3.00s;
		-ms-animation-delay:3.00s;
		-webkit-animation-delay:3.00s;
		-moz-animation-delay:3.00s;
}

#fountainTextG_17{
	animation-delay:3.14s;
		-o-animation-delay:3.14s;
		-ms-animation-delay:3.14s;
		-webkit-animation-delay:3.14s;
		-moz-animation-delay:3.14s;
}

#fountainTextG_18{
	animation-delay:3.30s;
		-o-animation-delay:3.30s;
		-ms-animation-delay:3.30s;
		-webkit-animation-delay:3.30s;
		-moz-animation-delay:3.30s;
}
#fountainTextG_19{
	animation-delay:3.44s;
		-o-animation-delay:3.44s;
		-ms-animation-delay:3.44s;
		-webkit-animation-delay:3.44s;
		-moz-animation-delay:3.44s;
}
#fountainTextG_20{
	animation-delay:3.60s;
		-o-animation-delay:3.60s;
		-ms-animation-delay:3.60s;
		-webkit-animation-delay:3.60s;
		-moz-animation-delay:3.60s;
}

#fountainTextG_21{
	animation-delay:3.74s;
		-o-animation-delay:3.74s;
		-ms-animation-delay:3.74s;
		-webkit-animation-delay:3.74s;
		-moz-animation-delay:3.74s;
}
#fountainTextG_22{
	animation-delay:3.90s;
		-o-animation-delay:3.90s;
		-ms-animation-delay:3.90s;
		-webkit-animation-delay:3.90s;
		-moz-animation-delay:3.90s;
}
#fountainTextG_23{
	animation-delay:4.05s;
		-o-animation-delay:4.05s;
		-ms-animation-delay:4.05s;
		-webkit-animation-delay:4.05s;
		-moz-animation-delay:4.05s;
}


@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(72, 20, 243);
	}

	100%{
		transform:scale(.5);
		color:rgb(157, 127, 255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}