/* .canvas-box{
    border-style: dotted;
    border-width: 2px;
    height: 300px;
}

.buffer-small{
    height: 100px
}

.properties-panel{
    width: 300px;
    border-style: solid;
    border-width: 2px;
}

#layers-list{
    cursor: pointer;
}

.spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
/* }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.button-selected{
    background-color: blueviolet;

}

.color-picker{
    padding: 10px;
    width: 200px;
    border-style: dotted;
    border-width: 2px;
}

.color-box{
    height: 50px;
    margin: 10px;
}

img {
    background-size: 20px 30px;
  } */ 

  #nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
  }

  /* #paintings-ul {
    background-color: blueviolet;
  } */
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 19px 18px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(17, 17, 17);
  }

  .active {
    background-color: blueviolet;
  }

  li h3 {
      color: rgb(0, 0, 0);
  }

  img {
    width: 100%;
    height: auto;
    
  }


  #canvas-box {
    border: solid
  }

  #paintings-ul {
    color: white
  }

  .grid-container {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto ;
    grid-template-rows: 70px 100px auto auto auto auto auto auto auto auto;

    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    background-color: rgb(0, 0, 0);
    /* padding: 10px; */
    height: 100vh;
    width: 100vw;

  }
  .grid-item {
    /* align-content: center; */

    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    /* font-size: 12px; */
    /* text-align: center;  */
  }

  #item1 {
    grid-row-start: 1;
    grid-row-end: 10;  
    max-height: calc(100vh - .5rem);
    overflow-y: auto;  
  }

  #item2 {
      grid-column-start: 2;
      grid-column-end: 12;

  }

  #item3 {
      grid-column-start: 2;
      grid-column-end: 10;
      float: right;
      color: white;
  }

  #item4 {
      grid-column-start: 2;
      grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 10;
    border: solid;
    overflow: scroll;

  }

  #item5 {
      grid-column-start: 10;
      grid-column-end: 10;
      grid-row-start: 3;
    grid-row-end: 4;
    color: white;
  }

  #item6 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 4;
  grid-row-end: 5;
  color: white;
}

#item7 {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 12;

}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#login{
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -50px;
  width: 400px;
  height: 400px;
}​


/* Style the input fields */
#login-input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
#login-submit {
  padding: 10px 20px;
  background-color: rgb(72, 20, 243);
  border: 1px solid #ddd;
  color: white;
}

@font-face {
  font-family: Octobertwilight;
  src: url(Octobertwilight-lzwZ.otf);
}

#title12 {
  font-family: Octobertwilight;
}

#name-on-my-paintings {
  color: white;
}

.btn-info {
  border-radius: 8px;
  color: white;
  border: 2px solid  rgb(161, 75, 241)
  
}
